body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
	font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*{
	border:none;
	padding:0px;
	margin:0px;
}
body { padding-top: 50px;overflow-x: hidden; overflow-y:auto;
}
html { overflow-x:hidden; overflow-y:auto;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style:none;
}
.login{
	background:url("../src/login_background.jpg");
}
.content{
	padding-top:40px;
	min-height:495px;
}
.content form{
	padding:20px 20px;
	padding-bottom:40px;
	box-shadow:rgb(153,153,153) 0px 6px 6px -6px,rgb(153,153,153) 0px -6px 6px -6px;
}
.content h3{
	padding-bottom:30px;
	color:#444;
}
.content br{
	line-height:10px;
}
.footer{
	background:#333;
	color:rgb(204,204,204);
}
.footer li,.footer a{
	padding-top:6px;
	color:rgb(204,204,204);
}
.jineng{
	font-size:16px;
}
.panel-heading small{
	color:rgb(255,255,255);
}
body.evaluate{
	background: url("../src/login_background.jpg") no-repeat fixed;
    background-size: cover;
}
.evaluate header{
	min-height:320px;
	text-align:center;
}
.evaluate header img{
	width:150px;
}
.evaluate h1{
	font-size: 3.0em;
    opacity: .8;
    font-weight: 300;
}
.evaluate p{
	font-weight: 400;
    font-size: 1.30em;
    color: rgba(0,0,0,0.5);
}
.evaluate footer{
	padding-top:30px;
	min-height:350px;
}
.evaluate footer h2{
    text-transform: none;
    font-size: 2em;
    font-weight: 300;
	padding-bottom:8px;
}
.evaluate footer p{
	font-size: 1.1em;
	padding-bottom:10px;
}
footer .tagline{
	padding-bottom:10px;
	font-size: 1.3em;
	color:rgb(51,51,51);
}
footer .evaluate_icon{
	width:100px;
}
footer .search{
	padding-bottom:20px;
}
.container.fullwidth{
	max-width:1000px;
}
.feature{
	padding-top:50px;
	padding-bottom:40px;
	min-height:300px;
	color:#666;
}
.feature img{
	width:100px;
}
.feature h3{
	color:rgb(102,102,102);
	position: relative;
    margin-top: 1.25em;
    margin-bottom: 1.16em;
}
.feature p{
	color: #999;
    font-size: 1.0em;
}
.evaluate article{
	background:#FFF;
}
.modal-backdrop{
	z-index: 0;
}
.modal-header {
	background-color: #4ba6e5;
	color: #fff;
}
.modal-body{
	padding: 50px;
}
.outerbg{
	margin-bottom:35px;
	background-color:rgba(255,255,255,0);
}
.innerbg{
	min-height:450px;
	background-color:#FFF;
	box-shadow:#CCC 2px 2px 5px;
}
.innerbg form{
	font-size:1.2em;
	margin-top:20px;
	margin-bottom:20px;
	padding:20px 0px;
}
.innerbg .checkbox0{
	width:18px;
	height:18px;
}
.subreset{
	padding-top:20px;
	text-align:center;
}

td {
	text-align: left;
}
.nav1{
	display:inline;
}
